<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<div class="header" th:fragment="bodyHeader">


  <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
      <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
        <li><a href="/" class="nav-link px-2 link-secondary"><h3>홈</h3></a></li>
        <li><a href="/board" class="nav-link px-2 link-dark"><h3>게시판</h3></a></li>
<!--        <li><a href="/aboutMe" class="nav-link px-2 link-dark"><h3></h3></a></li>-->
      </ul>
      <button type="button" class="btn btn-outline-primary me-2"sec:authorize="isAnonymous()"  th:onclick="|location.href='@{/login}'|" id="login">로그인</button>
      <div class="dropdown text-end" sec:authorize="isAuthenticated()">
          <a href="#" class="d-block link-dark text-decoration-none dropdown-toggle" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
              <img src="https://github.com/mdo.png" alt="mdo" width="32" height="32" class="rounded-circle">
          </a>
      <ul class="dropdown-menu text-small" aria-labelledby="dropdownUser1">
        <li><a class="dropdown-item" th:onclick="|location.href='@{/myPage}'|">마이 페이지</a></li>
        <li><a class="dropdown-item"  th:onclick="|location.href='@{/logout}'|" id="logout">로그아웃</a></li>
      </ul>
    </div>
</div>
</div>

<!--        <button type="button" class="btn btn-primary" sec:authorize="isAuthenticated()"  th:onclick="|location.href='@{/logout}'|" id="logout">로그아웃</button>-->
<!--        <button type="button" class="btn btn-outline-primary me-2">Login</button>-->
        <button type="button" class="btn btn-primary"  th:onclick="|location.href='@{/joinForm}'|">회원가입</button>
      </div>
    </div>
</div>
</html>