<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header" />
<body>
<div class="container">
  <div th:replace="fragments/bodyHeader :: bodyHeader" />
<form action ="/board/write" th:object="${boardSaveDto}" method = "post">
  <input type="hidden" id="member" name = "member" th:value="${#authentication.principal.member}"/>

  <div class="my-3">
    <label th:for="title" class="form-label">제목</label>
    <input class="form-control" th:field="*{title}" name="title" id="title" >
  </div>
  <div class="mb-3">
    <label th:for="content" class="form-label">내용</label>
    <textarea class="form-control"name="content" th:field="*{content}" id ="content" rows="8"></textarea>
  </div>

  <div class="text-end"><button  class="btn btn-primary"  id="btn-save" type="submit">제출</button></div>


</form>
  <div th:replace="fragments/footer :: footer" />
</div>
<script src="/docs/5.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>


</body>
</html>