<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">


<head th:replace="fragments/header :: header"/>
<body>
<script src="https://uicdn.toast.com/editor/latest/toastui-editor-all.min.js"></script>


<div class="container mt-4">
  <div th:replace="fragments/bodyHeader :: bodyHeader" />
<form th:action ="@{/board/write}"  method = "post" th:object="${boardSaveDto}" id="boardSaveForm" enctype="multipart/form-data">
  <input type="hidden" id="member" name = "member" th:value="${#authentication.principal.member}"/>

  <div class="my-3">
    <label th:for="title" class="form-label">제목</label>
    <input class="form-control"  th:field="*{title}"  name="title" id="title" >
  </div>
  <div class="mb-3">
    <label th:for="content" class="form-label">내용</label>
    <textarea class="form-control"  th:field="*{content}" name="content" id ="content" rows="8" hidden></textarea>
    <label for="editor"></label>
    <div style="background: white" id="editor"></div>
  </div>




  <div class="text-end"><button  class="btn btn-primary"  onclick="post()">제출</button></div>


</form>
  <div th:replace="fragments/footer :: footer" />
</div>
<script>
 const Editor = toastui.Editor;
 const editor = new Editor({
  el: document.querySelector('#editor'),
  height: '600px',
  initialEditType: 'markdown',
  previewStyle: 'vertical',
  hooks: {
        addImageBlobHook: (blob, callback) => {
            let imgurl = uploadImage(blob);
            callback(imgurl, "첨부 이미지")
        }
    }
});

      editor.setMarkdown([[${boardSaveDto.getContent()}]]);

        function uploadImage(blob) {
        let formData = new FormData();
        formData.append('img', blob);

        const xhr = new XMLHttpRequest();
        xhr.open("POST", "/board/uploadImage", false);
        xhr.setRequestHeader("contentType", "multipart/form-data");

        xhr.send(formData);

        if (xhr.readyState === 4 && xhr.status === 200) {
            return xhr.response;
        } else {
            alert("이미지가 정상적으로 업로드되지 못했습니다.");
        }
    }



</script>
<script>
  function post() {
    const contents = document.getElementById("content");


         if (document.getElementById("title").value === " " || document.getElementById("title").value === "") {
            alert("제목을 입력해주세요")
            return false;
        }
        else if (document.getElementById("content").value === " " || document.getElementById("content").value === "") {
            alert("내용을 입력해주세요")
            return false;
            }
         contents.value = editor.getMarkdown();
         document.getElementById("boardSaveForm").submit();



    }


</script>

</script>

</script>
<script src="/docs/5.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>


</body>
</html>