<!doctype html>
<html lang="en"
        xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="fragments/header :: header" />
<body>

<!--내용 부분-->
<div class="container mt-4">
    <div th:replace="fragments/bodyHeader :: bodyHeader" />
        <div class="my-3">
            <label for="title" class="form-label">제목</label>
            <input type="text" name="title" id="title" th:value="${board.title}" readonly class="form-control">
        </div>
        <div class="mb-3">
            <textarea th:text="${board.getContent()}" name="content" id="content" hidden></textarea>
            <label for="content" class="form-label">내용</label>
            <div id="viewer"></div>


<!--&lt;!&ndash;            <div class="toastui-editor-contents" th:utext="${board.getContent()}"></div>&ndash;&gt;-->
<!--            <div class="toastui-editor-contents" name="content" id ="content"  rows="8" readonly th:utext="${board.getContent()}"></div>-->
            <div class = "text-center" th:if="${member}==null">
                <button type="button" class="btn btn-primary"  >
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-hand-thumbs-up-fill" viewBox="0 0 16 16">
                        <path d="M6.956 1.745C7.021.81 7.908.087 8.864.325l.261.066c.463.116.874.456 1.012.965.22.816.533 2.511.062 4.51a9.84 9.84 0 0 1 .443-.051c.713-.065 1.669-.072 2.516.21.518.173.994.681 1.2 1.273.184.532.16 1.162-.234 1.733.058.119.103.242.138.363.077.27.113.567.113.856 0 .289-.036.586-.113.856-.039.135-.09.273-.16.404.169.387.107.819-.003 1.148a3.163 3.163 0 0 1-.488.901c.054.152.076.312.076.465 0 .305-.089.625-.253.912C13.1 15.522 12.437 16 11.5 16H8c-.605 0-1.07-.081-1.466-.218a4.82 4.82 0 0 1-.97-.484l-.048-.03c-.504-.307-.999-.609-2.068-.722C2.682 14.464 2 13.846 2 13V9c0-.85.685-1.432 1.357-1.615.849-.232 1.574-.787 2.132-1.41.56-.627.914-1.28 1.039-1.639.199-.575.356-1.539.428-2.59z"/>
                    </svg>
                    좋아요&nbsp;
                    <a th:text="${board.LikeCount}"></a>
                </button>
        </div>
            <div class = "text-center" th:unless="${member}==null">
                <button type="button" class="btn btn-primary" th:onclick="main.LikeUp([[${board.id}]],[[${member.id}]])">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-hand-thumbs-up-fill" viewBox="0 0 16 16">
                        <path d="M6.956 1.745C7.021.81 7.908.087 8.864.325l.261.066c.463.116.874.456 1.012.965.22.816.533 2.511.062 4.51a9.84 9.84 0 0 1 .443-.051c.713-.065 1.669-.072 2.516.21.518.173.994.681 1.2 1.273.184.532.16 1.162-.234 1.733.058.119.103.242.138.363.077.27.113.567.113.856 0 .289-.036.586-.113.856-.039.135-.09.273-.16.404.169.387.107.819-.003 1.148a3.163 3.163 0 0 1-.488.901c.054.152.076.312.076.465 0 .305-.089.625-.253.912C13.1 15.522 12.437 16 11.5 16H8c-.605 0-1.07-.081-1.466-.218a4.82 4.82 0 0 1-.97-.484l-.048-.03c-.504-.307-.999-.609-2.068-.722C2.682 14.464 2 13.846 2 13V9c0-.85.685-1.432 1.357-1.615.849-.232 1.574-.787 2.132-1.41.56-.627.914-1.28 1.039-1.639.199-.575.356-1.539.428-2.59z"/>
                    </svg>
                    좋아요&nbsp;
                    <a th:text="${board.LikeCount}"></a>
                </button>
            </div>
</div>
<!--내용 부분-->


<!--부모댓글 부분-->
    <div class ="card">
        <div class="card-header">댓글</div>
        <div th:each="comment : ${comments}">
        <ul id ="comment--box" class="list-group" th:if="${comment.parent}==null">
            <li class="list-group-item d-flex justify-content-between" >
                <div class="d-flex">
                    <div class="flex-shrink-0"></div>
                    <div class="ms-2" th:if="${comment.parent}==null">
                        <div class="fw-bold"><a th:text="${comment.member.name}"></a>
                            <small th:text="${#temporals.format(board.modifiedDate,'yyyy-MM-dd HH:mm')}"></small>
                        </div>
                        <p th:text="${comment.content}"></p>
                    </div>
                    <div class="ms-5" th:unless="${comment.parent}==null">
                        <div class="fw-bold">ㄴ<a th:text="${comment.member.name}"></a>
                            <small th:text="${#temporals.format(board.modifiedDate,'yyyy-MM-dd HH:mm')}"></small>
                        </div>
                        <p th:text="${comment.content}"></p>
                    </div>


                    </div>

            </li>
            <div sec:authorize="isAuthenticated()" class ="ms-2" th:if="${comment.parent}==null">
                <button   th:if = "(${comment.member.name}==${member.name})" type="button" th:onclick="main.commentDelete([[${comment.id}]],[[${board.id}]])"
                        class="btn btn-primary btn-sm float-right">삭제</button>
                <button class="btn btn-warning btn-sm float-right" data-toggle="collapse"
                        th:data-target="${'#comment-reply-'+comment.id}" aria-expanded="false">답글
                </button>

            </div>
            <div class ="ms-5" th:unless="${comment.parent}==null">
                <button   th:if = "(${comment.member.name}==${member.name})" type="button" th:onclick="main.commentDelete([[${comment.id}]],[[${board.id}]])"
                        class="btn btn-primary btn-sm float-right">삭제</button>
                <button class="btn btn-warning btn-sm float-right" data-toggle="collapse"
                        th:data-target="${'#comment-reply-'+comment.id}" aria-expanded="false">답글
                </button>
            </div>
            <!--답글 입력하는 부분-->
            <div class="collapse" th:id="${'comment-reply-'+comment.id}">
                <div class="card card-body">
                    <form th:id="${'comment'+comment.id}" >
                        <input type="hidden" th:id="${'boardId'+board.id}" name = "boardId" th:value="${board.id}"/>
                        <!--            <input name = "id" th:value="${#authentication.principal.member.id}"/>-->
                        <div>
                            <div class ="card-body"><textarea th:id="${'child-content'+comment.id}" class="form-control" rows="1"></textarea></div>

                                <input type="hidden"  th:id="${'parentId'+comment.id}" name = "parentId" th:value="${comment.id}"/>
                                <button  type="button" th:onclick="main.childCommentSave([[${comment.id}]],[[${board.id}]])"  class="btn-sm btn-primary float-right">등록</button>

                        </div>
                    </form>
                </div>
            </div>
        </ul>
        <!--답글 입력하는 부분-->
        <ul id ="comment--box2" class="list-group" th:each="comment : ${comment.children}">
            <li class="list-group-item d-flex justify-content-between" >
                <div class="d-flex">
                    <div class="flex-shrink-0"></div>
                    <div class="ms-2" th:if="${comment.parent}==null">
                        <div class="fw-bold"><a th:text="${comment.member.name}"></a>
                            <small th:text="${#temporals.format(board.modifiedDate,'yyyy-MM-dd HH:mm')}"></small>
                        </div>
                        <p th:text="${comment.content}"></p>
                    </div>
                    <div class="ms-5" th:unless="${comment.parent}==null">
                        <div class="fw-bold">ㄴ<a th:text="${comment.member.name}"></a>
                            <small th:text="${#temporals.format(board.modifiedDate,'yyyy-MM-dd HH:mm')}"></small>
                        </div>
                        <p th:text="${comment.content}"></p>
                    </div>


                </div>

            </li>
            <div sec:authorize="isAuthenticated()" class ="ms-2" th:if="${comment.parent}==null">
<!--                <button class="btn btn-warning btn-sm" data-toggle="collapse"-->
<!--                        th:data-target="${'#comment-reply-'+comment.id}" aria-expanded="false">답글-->
<!--                </button>-->
                <button  th:if = "(${comment.member.name}==${member.name})" type="button" th:onclick="main.commentDelete([[${comment.id}]],[[${board.id}]])"
                        class="btn btn-primary btn-sm float-right">삭제</button>
            </div>
            <div class ="ms-5" th:unless="${comment.parent}==null">
<!--                <button class="btn btn-warning btn-sm" data-toggle="collapse"-->
<!--                        th:data-target="${'#comment-reply-'+comment.id}" aria-expanded="false">답글-->
<!--                </button>-->
                <button  th:if = "(${comment.member.name}==${member.name})" type="button" th:onclick="main.commentDelete([[${comment.id}]],[[${board.id}]])"
                        class="btn btn-primary btn-sm float-right">삭제</button>
            </div>
            <!--답글 입력하는 부분-->
            <div class="collapse" th:id="${'comment-reply-'+comment.id}">
                <div class="card card-body">
                    <form th:id="${'comment'+comment.id}" >
                        <input type="hidden" th:id="${'boardId'+board.id}" name = "boardId" th:value="${board.id}"/>
                        <!--            <input name = "id" th:value="${#authentication.principal.member.id}"/>-->
                        <div  sec:authorize="isAuthenticated()">
                            <div class ="card-body"><textarea th:id="${'child-content'+comment.id}" class="form-control" rows="1"></textarea></div>
                            <div class ="card-footer">
                                <input type="hidden"  th:id="${'parentId'+comment.id}" name = "parentId" th:value="${comment.id}"/>
                                <button  type="button" th:onclick="main.childCommentSave([[${comment.id}]],[[${board.id}]])"   class="btn-sm btn-primary float-right">등록</button>
                            </div>
                        </div>
                        <div  sec:authorize="!isAuthenticated()">
                            <div class ="card-body"><textarea th:id="${'child-content'+comment.id}" class="form-control" rows="1" placeholder="로그인을 하십쇼"></textarea></div>
                            <div class ="card-footer">
                                <input type="hidden"  th:id="${'parentId'+comment.id}" name = "parentId" th:value="${comment.id}"/>
                                <button  type="button" th:onclick="main.childCommentSave([[${comment.id}]],[[${board.id}]])"   class="btn-sm btn-primary float-right">등록</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <!--답글 입력하는 부분-->
        </ul>
        </div>
    </div>
<!--댓글부분-->
    <br/>
<div>
        <form id="comment">
            <input type="hidden" id="boardId" name = "boardId" th:value="${board.id}"/>
<!--            <input name = "id" th:value="${#authentication.principal.member.id}"/>-->
            <div  sec:authorize="isAuthenticated()">
                <div>
                    <textarea id = "comment-content" class="form-control" rows="1"></textarea>
                    <div class="text-end my-3">
                        <button  id="btn-comment-save" type="button" class="btn-sm btn-primary">등록</button>
                    </div>
                   </div>
            </div>
            <div  sec:authorize="!isAuthenticated()">
                <div>
                    <textarea placeholder="로그인을 하십쇼" class="form-control" rows="1"></textarea>
                    <div class="text-end my-3">
                    </div>
                </div>
            </div>
        </form>
</div>


<div class ="my-1">
    <form id="blogForm" method="POST" th:if="${member}==null">
        <button type="button" class="btn btn-success " onclick="location.href='home.html" th:onclick="|location.href='@{/board}'|">뒤로가기</button>
        <input type="hidden" name="_method" value="DELETE"/>
    </form>
    <form id="blogForm2" method="POST" th:unless="${member}==null">
        <button type="button" class="btn btn-success " onclick="location.href='home.html" th:onclick="|location.href='@{/board}'|">뒤로가기</button>
        <button th:if = "(${board.author}==${member.name})" type="button" class="btn btn-primary " th:onclick="|location.href='@{/board/{Id}/update(Id=${board.id})}'|">수정</button>
        <input type="hidden" name="_method" value="DELETE"/>
        <button th:if = "(${board.author}==${member.name})" class="btn btn-warning " th:onlick="|location.href='@{/board/{Id}/(Id=${board.id})}'|">삭제</button>
    </form>
</div>
    <div th:replace="fragments/footer :: footer" />
</div>
<script src="https://uicdn.toast.com/editor/latest/toastui-editor-all.min.js"></script>
<script src="/docs/5.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
<script>
const viewer = toastui.Editor.factory({
    el: document.querySelector('#viewer'),
    viewer: true,
    height: '600px',
    initialValue: ''
});

const contents = document.getElementById("content");

viewer.setMarkdown(content.value);
</script>
<script src="/js/index.js"></script>
</body>
</html>

<!--                    <button type="button" class="btn btn-primary"  data-toggle="modal" data-target="#exampleModal">수정</button>-->
<!--                    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">-->
<!--                        <div class="modal-dialog">-->
<!--                            <div class="modal-content">-->
<!--                                <div class="modal-header">-->
<!--                                    <h5 class="modal-title" id="exampleModalLabel">댓글 수정</h5>-->
<!--                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">-->
<!--                                        <span aria-hidden="true">&times;</span>-->
<!--                                    </button>-->
<!--                                </div>-->
<!--                                <div class="modal-body">-->
<!--                                    <form>-->
<!--                                        <div class="form-group">-->
<!--                                            <label for="comment-update-content" class="col-form-label">댓글:</label>-->
<!--                                            <textarea class="form-control" id="comment-update-content"></textarea>-->
<!--                                        </div>-->
<!--                                    </form>-->
<!--                                </div>-->
<!--                                <div class="modal-footer">-->
<!--                                    <form>-->
<!--                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">취소</button>-->
<!--                                        <button type="button" class="btn btn-primary" id="btn-comment-update" >수정</button>-->
<!--                                    </form>-->

<!--                                </div>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
