<!doctype html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5" xmlns="http://www.w3.org/1999/html">
<head th:replace="fragments/header :: header" />
<body>

    <div class="container">
        <div th:replace="fragments/bodyHeader :: bodyHeader" />
        <div>
            <table class="table">
                <thead>
                <tr>
<!--                    <th>#</th>-->
                    <th>제목</th>
                    <th>글쓴이</th>
                    <th>작성일</th>
                    <th>조회수</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="board : ${board.content}">
<!--                    <td><a  th:text="${board.id}">1</a></td>-->
                    <td><a  th:href="@{|/board/${board.id}|}" th:text="${board.title}" >제목</a></td>
                    <td><a th:text="${board.author}"></a></td>
                    <td  th:text="${#temporals.format(board.modifiedDate,'yyyy-MM-dd HH:mm:ss')}">날짜</td>
                    <td th:text="${board.view}" >0</td>
                </tr>
                </tbody>
            </table>
        </div>

        <div sec:authorize="isAuthenticated()" class="text-end"><a class="btn btn-primary" th:href="@{/board/write}" role="button">글쓰기</a></div>
        <div class = "column">
            <nav aria-label="Page navigation example">
                <ul class="pagination justify-content-center"  th:with="start=${(board.number/5)*5 + 1},
                  end=(${(board.totalPages == 0) ? 1 : (start + (5 - 1) < board.totalPages ? start + (5 - 1) : board.totalPages)})">
                    <li class="page-item" th:if="${start > 1}"><a class="page-link" th:href="@{/(page=${board.number - 1})}">Previous</a></li>
                    <li th:each="i : ${#numbers.sequence(start,end)}"  th:class="${i == board.number + 1} ? 'page-item active' : 'page-item'">
                        <a class="page-link" th:href="@{/(page=${i-1})}" th:text="${i}"></a></li>
                    <li class="page-item"  th:if="${end < board.totalPages}"><a class="page-link" th:href="@{/(page=${board.number + 1})}">Next</a></li>


                </ul>

            </nav>

        </div>

    </div>










<script src="/docs/5.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    <div th:replace="fragments/footer :: footer" />
    </div>

</body>
</html>