<!doctype html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5" xmlns="http://www.w3.org/1999/html">
<head th:replace="fragments/header :: header" />

<body>

<div class="container mt-4">
    <div th:replace="fragments/bodyHeader :: bodyHeader" />
    <h1 class = "mt-3">마이페이지</h1>
    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link active" aria-current="page" th:onclick="|location.href='@{/myPageBoard}'|">나의 게시글</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" th:onclick="|location.href='@{/myPageComment}'|">나의 댓글</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" th:onclick="|location.href='@{/myPageNotice}'|">알림</a>
        </li>
    </ul>

    <div>
        <table class="table">
            <thead>
            <tr class="text-center">
                <!--                    <th>#</th>-->
                <th class="w-50">제목</th>
                <th >조회수</th>
                <th >좋아요수</th>
                <th >날짜</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="board : ${boards}">
                <!--                    <td><a  th:text="${board.id}">1</a></td>-->
                <td><a  style="color: black" th:href="@{|/board/${board.id}|}" th:text="${board.title}" >제목</a></td>
                <td class="text-center" th:text="${board.view}" >j</td>
                <td class="text-center"><a th:text="${board.likeCount.size}">f</a></td>
                <td  class="text-center" th:text="${#temporals.format(board.modifiedDate,'yyyy-MM-dd HH:mm:ss')}">날짜</td>
            </tr>
            </tbody>
        </table>
    </div>

    <div class = "column">
        <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-center"  th:with="start=${(boards.number/5)*5 + 1},
                  end=(${(boards.totalPages == 0) ? 1 : (start + (5 - 1) < boards.totalPages ? start + (5 - 1) : boards.totalPages)})">
                <li class="page-item" th:if="${start > 1}"><a class="page-link" th:href="@{/myPageBoard/(page=${boards.number - 1})}">이전</a></li>
                <li th:each="i : ${#numbers.sequence(start,end)}"  th:class="${i == boards.number + 1} ? 'page-item active' : 'page-item'">
                    <a class="page-link" th:href="@{/myPageBoard/(page=${i-1})}" th:text="${i}"></a></li>
                <li class="page-item"  th:if="${end < boards.totalPages}"><a class="page-link" th:href="@{/myPageBoard/(page=${boards.number + 1})}">다음</a></li>

            </ul>
        </nav>

    </div>

    </div>










    <script src="/docs/5.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    <div th:replace="fragments/footer :: footer" />
</div>

</body>
</html>